## Import Libraries

In [1]:
import pandas as pd

## Olympics Games Year and Location

In [24]:
import pandas as pd

# Read the CSV file into a DataFrame
df_Games = pd.read_csv("Olympics_Games.csv")

# Filter for rows where the edition is "Summer"
df_Summer_Games = df_Games[df_Games['edition'].str.contains("Summer")].sort_values(by='year')

# Select relevant columns
df_Summer_Games = df_Summer_Games[['edition_id', 'edition', 'city', 'year', 'competition_date']]

# Replace missing values in 'competition_date' for specific 'edition_id' values
df_Summer_Games.loc[df_Summer_Games['edition_id'].isin([50, 51, 52]), 'competition_date'] = "Not Held Due to War"

# Display the DataFrame
df_Summer_Games

,edition_id,edition,city,year,competition_date
0,1,1896 Summer Olympics,Athina,1896,6 – 13 April
1,2,1900 Summer Olympics,Paris,1900,14 May – 28 October
2,3,1904 Summer Olympics,St. Louis,1904,1 July – 26 November
3,5,1908 Summer Olympics,London,1908,27 April – 31 October
4,6,1912 Summer Olympics,Stockholm,1912,5 May – 27 July
5,50,1916 Summer Olympics,Berlin,1916,Not Held Due to War
6,7,1920 Summer Olympics,Antwerpen,1920,23 April – 12 September
7,8,1924 Summer Olympics,Paris,1924,4 May – 27 July
8,9,1928 Summer Olympics,Amsterdam,1928,17 May – 12 August
9,10,1932 Summer Olympics,Los Angeles,1932,30 July – 14 August
10,11,1936 Summer Olympics,Berlin,1936,1 – 16 August
11,51,1940 Summer Olympics,Helsinki,1940,Not Held Due to War
12,52,1944 Summer Olympics,London,1944,Not Held Due to War
13,12,1948 Summer Olympics,London,1948,26 July – 14 August
14,13,1952 Summer Olympics,Helsinki,1952,14 July – 3 August
15,14,1956 Summer Olympics,Melbourne,1956,22 November – 8 December
16,15,1960 Summer Olympics,Roma,1960,25 August – 11 September
17,16,1964 Summer Olympics,Tokyo,1964,11 – 24 October
18,17,1968 Summer Olympics,Ciudad de México,1968,12 – 27 October
19,18,1972 Summer Olympics,München,1972,26 August – 11 September
20,19,1976 Summer Olympics,Montréal,1976,18 July – 1 August
21,20,1980 Summer Olympics,Moskva,1980,20 July – 3 August
22,21,1984 Summer Olympics,Los Angeles,1984,6 July – 12 August
23,22,1988 Summer Olympics,Seoul,1988,17 September – 2 October
24,23,1992 Summer Olympics,Barcelona,1992,24 July – 9 August
25,24,1996 Summer Olympics,Atlanta,1996,20 July – 4 August
26,25,2000 Summer Olympics,Sydney,2000,13 September – 1 October
27,26,2004 Summer Olympics,Athina,2004,11 – 29 August
28,53,2008 Summer Olympics,Beijing,2008,6 – 24 August
29,54,2012 Summer Olympics,London,2012,25 July – 12 August
30,59,2016 Summer Olympics,Rio de Janeiro,2016,3 – 21 August
31,61,2020 Summer Olympics,Tokyo,2020,21 July – 8 August 2021
32,63,2024 Summer Olympics,Paris,2024,—
33,64,2028 Summer Olympics,Los Angeles,2028,—
34,372,2032 Summer Olympics,Brisbane,2032,—

## Olympics Medal Tally by Countries Overall

In [33]:
df_Medal = pd.read_csv("Olympic_Games_Medal_Tally.csv")
df_Medal

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1802,1906 Intercalated,4,1906,Canada,CAN,1,1,0,2
1803,1906 Intercalated,4,1906,Norway,NOR,1,1,0,2
1804,1906 Intercalated,4,1906,Netherlands,NED,0,1,2,3
1805,1906 Intercalated,4,1906,Australia,AUS,0,0,3,3
1806,1906 Intercalated,4,1906,Bohemia,BOH,0,0,2,2

In [34]:
#filter for country United States
df_Medal = df_Medal[df_Medal['country'] == 'United States']
df_Medal

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
12,1900 Summer Olympics,2,1900,United States,USA,20,13,15,48
30,1904 Summer Olympics,3,1904,United States,USA,80,85,83,248
39,1908 Summer Olympics,5,1908,United States,USA,23,12,12,47
57,1912 Summer Olympics,6,1912,United States,USA,26,19,19,64
76,1920 Summer Olympics,7,1920,United States,USA,41,27,27,95
98,1924 Summer Olympics,8,1924,United States,USA,45,27,27,99
129,1928 Summer Olympics,9,1928,United States,USA,22,18,16,56
163,1932 Summer Olympics,10,1932,United States,USA,44,36,30,110
192,1936 Summer Olympics,11,1936,United States,USA,24,21,12,57
223,1948 Summer Olympics,12,1948,United States,USA,38,27,19,84
261,1952 Summer Olympics,13,1952,United States,USA,40,19,17,76
305,1956 Summer Olympics,14,1956,United States,USA,32,25,17,74
342,1960 Summer Olympics,15,1960,United States,USA,34,21,16,71
385,1964 Summer Olympics,16,1964,United States,USA,36,26,28,90
426,1968 Summer Olympics,17,1968,United States,USA,45,28,34,107
471,1972 Summer Olympics,18,1972,United States,USA,33,31,30,94
520,1976 Summer Olympics,19,1976,United States,USA,34,35,25,94
595,1984 Summer Olympics,21,1984,United States,USA,83,61,30,174
644,1988 Summer Olympics,22,1988,United States,USA,36,31,27,94
695,1992 Summer Olympics,23,1992,United States,USA,37,34,37,108
758,1996 Summer Olympics,24,1996,United States,USA,44,32,25,101
837,2000 Summer Olympics,25,2000,United States,USA,37,24,32,93
917,2004 Summer Olympics,26,2004,United States,USA,36,39,26,101
992,2008 Summer Olympics,53,2008,United States,USA,36,39,37,112
1078,2012 Summer Olympics,54,2012,United States,USA,48,26,30,104
1164,2016 Summer Olympics,59,2016,United States,USA,46,37,38,121
1250,2020 Summer Olympics,61,2020,United States,USA,39,41,33,113
1347,1924 Winter Olympics,29,1924,United States,USA,1,2,1,4
1355,1928 Winter Olympics,30,1928,United States,USA,2,2,2,6
1366,1932 Winter Olympics,31,1932,United States,USA,6,4,2,12
1383,1936 Winter Olympics,32,1936,United States,USA,1,0,3,4
1390,1948 Winter Olympics,33,1948,United States,USA,3,4,2,9
1401,1952 Winter Olympics,34,1952,United States,USA,4,6,1,11
1418,1956 Winter Olympics,35,1956,United States,USA,2,3,2,7
1428,1960 Winter Olympics,36,1960,United States,USA,3,4,3,10
1447,1964 Winter Olympics,37,1964,United States,USA,1,2,4,7
1462,1968 Winter Olympics,38,1968,United States,USA,1,5,1,7
1473,1972 Winter Olympics,39,1972,United States,USA,3,2,3,8
1488,1976 Winter Olympics,40,1976,United States,USA,3,3,4,10
1504,1980 Winter Olympics,41,1980,United States,USA,6,4,2,12
1523,1984 Winter Olympics,42,1984,United States,USA,4,4,0,8
1546,1988 Winter Olympics,43,1988,United States,USA,2,1,3,6
1559,1992 Winter Olympics,44,1992,United States,USA,5,4,2,11
1579,1994 Winter Olympics,45,1994,United States,USA,6,5,2,13
1601,1998 Winter Olympics,46,1998,United States,USA,6,3,4,13
1623,2002 Winter Olympics,47,2002,United States,USA,10,13,11,34
1646,2006 Winter Olympics,49,2006,United States,USA,9,9,7,25
1673,2010 Winter Olympics,57,2010,United States,USA,9,15,13,37
1700,2014 Winter Olympics,58,2014,United States,USA,9,9,10,28
1726,2018 Winter Olympics,60,2018,United States,USA,9,8,6,23
1756,2022 Winter Olympics,62,2022,United States,USA,8,10,7,25
1790,1906 Intercalated,4,1906,United States,USA,12,6,6,24

In [35]:
#Medal Tally Overall grouped by country for Summer Olympics

df_Medal = df_Medal[df_Medal['edition'].str.contains("Summer")]

# Group by country and sum the total medals
df_Medal = df_Medal.groupby('country').sum()

df_Medal = df_Medal[['gold', 'silver', 'bronze', 'total']]

df_Medal

               gold  silver  bronze  total
country
United States  1070     841     744   2655

In [4]:
df_bio = pd.read_csv("Olympic_Athlete_Bio.csv")
df_bio.head()

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,65649,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,Personal Best: 400 – 53.54 (1980).,NaN
1,112510,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,NaN,Listed in Olympians Who Won a Medal at the Eur...
2,114973,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,Personal Best: 10000 – 27:20.97 (2006).,Listed in Olympians Who Won a Medal at the Asi...
3,30359,Péter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,"Between 1927 and 1938, Péter Boros competed as...",NaN
4,50557,Rudolf Piowatý,Male,28 April 1900,NaN,NaN,Czechoslovakia,TCH,Rudolf Piowaty joined the Czechoslovak militar...,NaN